.headerImage{
  height: 70px;
  widows: 150px;
}


.postImage{
  height: 100px;
  widows: 300px;
}

p{
  font-family: "Droid Sans", serif;
  
}

.customButton{
	margin-top: 100px !important;
	width: 400px;
	height: 50px;
	padding-top: 20px;
	
}

.customButton:hover{
	 background-color: #368A55 !important;
}


.articleHeader{
  color: #3498DB;
	font-family: "Droid Sans";
}

.postStory{
	background-color: #F7F7F7;
  margin-top: -20px;
	padding-top: 40px;
}


.text{
  border-right: 2px solid black;
}

.post_header{
  font-family: "Trebuchet MS", Helvetica, sans-serif
}
.post_text{
  font-size: 0.7em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.links{
  margin-left: 10px;
  color: black;
}

.links i:hover{
  height: 1.3em;
  font-size: 30px;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}


.axis path, .axis line {
    fill: none;
    stroke: #dadada;
    shape-rendering: crispEdges;
}

.axis {
    font: 10px Georgia, Arial, sans-serif;
}


.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.legend rect {
 fill:white;
 stroke:black;
 opacity:0.8; 
}

.italic{
	 font-style: italic;
}